
<!DOCTYPE html PUBLIC>
<html>
<head>
    
</head>
<body>
	<h3>Pages#batman</h3>
	<p>Find me in app/views/pages/batman.html.erb</p>

	<h1>I'm Batman</h1>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.backstretch.min.js"></script>
    <script> jQuery.backstretch("images/batman.jpg");</script>

	<%= image_tag 'batman.jpg'%> 

<%= yield %>

</body>
</html>